.hide {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: opacity 1s;
}

body {
    text-align: center;
    background-image: url(images/therm.jpg);
    background-size: cover;
    color: rgb(84, 131, 219);
}

h1,
h2 {
    font-family: eurostile, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: rgb(200, 205, 228);
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
}